@import 'dimens';

@font-face {
    font-family: defaultFont;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: Ionicons;
  src: url("../fonts/ionicons.woff");
}

html {
  height: 100%;
}

body {
  font-family: defaultFont;
  margin: 0;
  height: 100%;
  font-size: $medium-text-size;
}

.e-font-icon {
  font-family: Ionicons;
  font-size: $medium-text-size + 8;
  vertical-align: middle;
  margin-right: $default-spacing;
}

a {
  text-decoration: none;
  color: inherit;
}
