$medium-text-size: 20px;
$small-text-size: $medium-text-size - 2;
$large-text-size: $medium-text-size + 6;

$font-icon-size: 24px;

$default-spacing: 10px;

$toolbar-height: 40px;

$tabs-height: 40px;

$action-color: #E0E0E0;
$action-button-size: $tabs-height / 4 * 3;
