@import 'dimens';

.e-task-list {
  &__header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
  }

  &__list {
    padding-top: 90px;
  }
}

.e-header {
  &__item {
    display: block;
    width: 100%;
    padding: $default-spacing;
    box-sizing: border-box;
  }
}

.e-filter {
  border: 0;
  width: 100%;
}

.e-new-task {
  display: block;
  text-align: center;
}
