@import 'base';

.e-filter {
  width: 100%;
  padding: $default-spacing;
  border: 0;
}

.e-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &__item {
    padding: $default-spacing;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item:nth-child(even) {
    background-color: #d3d3d3;
  }

  &__item-selector {
    margin-right: $default-spacing;
    min-width: 15px;
  }
  &__item-name {
  }
  &__item-edit {

  }
}
