@import 'dimens';

.e-filter {
  width: 100%;
  padding: $default-spacing;
  border: 0;
}

.e-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &__item {
    padding: $default-spacing;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-selector {
    margin-right: $default-spacing;
    min-width: 15px;
    margin-left: 0;
  }
  &__item-name {
    &--done {
      text-decoration: line-through;
    }
  }
  &__item-edit {
    &--unactive {
      color: gray;
    }
  }
}
